.title {
    min-width: 500px;
    margin: 75px 113px 75px 113px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    border-bottom: 2px solid #54353ecc;
}

.btn-title {
    color: var(--primary);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 205px;
    height: 58px;
}